body {
			background-color: #ffeef2;
		}

		#sayla {
			border: 2px solid #457b9d;
			border-radius: 4px;
			padding: 3px;
			width: 100%;
      
			display: block;

		}
    #saylasky{
      border: 2px solid #457b9d;
			border-radius: 4px;
			padding: 3px;
			width: 20%;
      height: 25vw;
      
      margin-left: 40%;

      
			display: block;
    }

		#banner {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}
    h1 {
      color: #457b9d;
      display: block;
			width: 100%;
      text-align: center;
     
     
    }
    li {
       color: #457b9d;
    }

		
    #aboutme {
      color: #457b9d;
  
}

.menu {
    display: flex;
  
    padding: 2px;
    justify-content: space-around;
}
.menu a {
    color: #fff1e6;
    text-decoration: none;
    font-family: Notable;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
}
.box {
    flex-grow: 1;
    background: #8ecae6;
    text-align: center;
    padding: 2px;
    
    border: 1px solid #457b9d;
}
.flexbox-container {
    display: flex;
    flex-direction: row;
    border: none;
   
    

}

.flexbox-item {
    margin: 5px;
    padding: 3px;
   
    background-color: #D9D9D9;
}

.item-1 {
    /*flex-grow: 1;*/
  
    width: 80%;
    color: #457b9d;
    font-size: 2vw;
    border-radius: 4px;
    background-color: #ffeef2;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
}

.item-2 {
    /*flex-grow: 2;*/
    width: 33%;
    color: #457b9d;
    font-size: 2vw;
    min-height: 200px;
    align-self: center;
    background-color: #ffeef2;
}

.item-3 {
    /*flex-grow: 3;*/
    width: 40%;
    min-height: 300px;
    background-color: #ffeef2;
}
hr {
  color: #457b9d;
  
  
}
.box:hover{
  background-color: #457b9d;
  transition: background 0.4s;
}

.contactP {
    color:#457b9d;
    text-align: center;
}
      
    